<section id="companies">
  <header>
    <div id="account-btns">
      <a href="#"><i class="fas fa-cog"></i></a>
      <a href="#"><i class="fas fa-bell"></i></a>
    </div>
    <h2>Directiorio de empresas</h2>
  </header>
  <div id="job-filters">
    <h4>Empresas <span>500</span></h4>
    <p>Ordenar por: <a href="#">Empresas</a> <a href=""> Administrador</a></p>
  </div>
  <div>
    <p>
      1 - 10 de 230 <a href="#"><i class="fas fa-angle-left"></i></a>
      <a href="#"><i class="fas fa-angle-right"></i></a>
    </p>
  </div>
</section>
