// Mixins
@mixin transition($args...) {
	-webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
// Variables
$breakpoint-medium: 720px;
$breakpoint-mobile: 400px;

#companies{
  
  header{
    width: 100%;
    #companies-title{
      border-bottom: solid thin #d9dce3;
      margin-bottom: 1.5rem;
    }
    h2{
      font-size: 2rem;
    }
    #account-btns{
      position: absolute;
      right: 2em;
      top: 1.5em;
      a{
        color:#233239;
        margin-left: 10px;
        font-size: 1.5rem;
        @include transition(color .5s ease);
        &:hover{
          color:#2c494d;
          font-size: 1.5rem;
          @include transition(color .5s ease);
        }
      }
      }
      .success{
        color:white;
        font-weight: 700;
      }
  }
  #job-pager{
    background: #7488cd;
    color:#fff;
    padding: .3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    p{
      align-content: center;
      margin-bottom: 0px;
    }
    a{
      color:#fff;
      width: 30px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      box-sizing: border-box;
      background:#8ea0e0;
      margin-left: .5rem;
      padding: .3rem;
      @include transition(background-color  .5s ease);
      @include border-radius(50%);
      &:hover{
        background:#233239;
        @include transition(background-color  .5s ease);
      }
  }
    
  }
  #job-filters{
    width: 100%;
    display: flex;
    align-content: center;
    a{
      color:#7d8fdb;
      @include transition(color .5s ease);
      &:hover{
        color:#233239;
        @include transition(color .5s ease);
      }
    }
    h4{
      justify-self: flex-start;
      font-size: 1rem;
      span{
        background: #8ea2e1;
        padding: .3rem;
        @include border-radius(20%);
        color:#fff;
      }
    }
    p{
      justify-content: flex-end;
      margin-left: auto;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  #companies{
  
    header{
      width: 100%;
  
      h2{
        font-size: 2rem;
  
      }
      #account-btns{
        position: absolute;
        right: 3.5em;
        top: .9em;
        a{
          color:#fff;
          margin-left: 15px;
          font-size: 1.5rem;
          @include transition(color .5s ease);
          &:hover{
            color:#2c494d;
            font-size: 1.5rem;
            @include transition(color .5s ease);
          }
        }
        }
    }
    #job-filters{
      width: 100%;
      display: flex;
    }
  }

}

@media (max-width: $breakpoint-mobile) {
.success{
  display: none;
}
#companies{
  display: none;
}
}