<section id="companies">
  <header>
    <div id="account-btns">
      <a href="#"><i class="fas fa-cog"></i></a>
      <a href="#"><i class="fas fa-bell"></i></a>
    </div>
    <div id="companies-title">
        <h2>Directiorio de empresas</h2>
        <button class="success button">Agregar empresa +</button>
    </div>
  </header>
  <div id="job-filters">
    <h4>Empresas <span>500</span></h4>
    <p>Ordenar por: <a href="#">Empresas</a> | <a href=""> Administrador</a></p>
  </div>
  <div id="job-pager">
    <p>1 - 10 de 230 
      <a href="#"><i class="fas fa-angle-left"></i></a>
      <a href="#"><i class="fas fa-angle-right"></i></a>
    </p>
  </div>
</section>
