<article>
  <div class="company">
    <figure>
        <img src="assets/img/logocirculo.png" alt="Círculo de Crédito" />
    </figure>
    <div class="company-info">
        <h4>Círculo de crédito S.A de CV</h4>
        <p>Alejandra de los Santos Berlanga</p>
    </div>
  </div>
  <div class="job-info">
    <div>
      <h5>Fecha de registro</h5>
      <p class="below-subtitle">24 Ene</p>
    </div>
    <div>
      <p>150</p>
      <h5 class="below-subtitle">usuarios</h5>
    </div>
  <div>
      <p>200</p>
      <h5 class="below-subtitle">publicaciones</h5>
    </div>
    <div>
        <p>ilimitado</p>
        <h5 class="below-subtitle">créditos</h5>
      </div>
    </div>
</article>
