<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div
      class="off-canvas position-left reveal-for-medium"
      id="my-info"
      data-off-canvas
      data-position="left"
    >
      <div id="main-menu" class="row column">
        <span class="centered">
        <h1>Go Talent</h1>
        <img class="rouunded" src="assets/img/ricardo.jpg" />
        <h2>Ricardo Martínez Guzmán</h2>
        <small>Developer Expert</small>
      </span>
        <ul class="vertical menu">
            <li><a href="#">Perfil</a></li>
            <li><a href="#">Ofertas de empleo</a></li>
            <li><a href="#">Buscador Avanzado</a></li>
            <li><a href="#">Biblioteca de CV's</a></li>
            <li><a href="#">Favoritos</a></li>
          </ul>
      </div>
    </div>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="title-bar hide-for-medium">
          <h1 class="title-bar-title">Go Talent</h1>
        <div class="title-bar-right">
          <button class="menu-icon" type="button" data-toggle="my-info"></button>
        </div>
      </div>
    </div>
  </div>
</div>
