// Mixins
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}
@mixin transition($args...) {
	-webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}


// Variables
$font-stack:    'Roboto', Arial, sans-serif;

// Styles
#main-menu{
  padding:1rem; 
  img{
    border:solid thick #2c494d;
    @include border-radius(50%);
    max-width: 50%;
    align-self: center;
    margin-bottom: 20px;
  }
  .centered{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  h1{
    font-weight: 900;
    font-family: $font-stack;
    font-size: 1.5rem;
    width:100%;
    text-align: center;
    margin-bottom: 5vh;

  }
  h2{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: $font-stack;
    font-size: 1rem;
    margin-bottom: auto;
  }
  small{
    margin-bottom: 3rem;
  }
  .menu{
    text-align: left;
    margin-bottom:3rem;
    a{
      color:#98a9b1;
      @include transition(color .5s ease);
      &:hover{
        color:#fff;
        @include transition(color .5s ease);
      }
    }
      
    }
    
  }
.off-canvas{
  background-color: #233239;
  color:#fff;
}
